@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .contained {
        @apply mx-auto max-w-[1512px] w-full px-[1rem] md:px-[3rem] lg:px-[4rem] xl:px-[5rem] 2xl:px-[6rem];
    }

    .heading-1 {
        @apply uppercase text-[#361566] mt-7 text-center text-7xl lg:text-8xl xl:text-9xl font-helvetica-compressed;
        leading-trim: both;
        text-edge: cap;
        -webkit-text-stroke-width: 3;
        -webkit-text-stroke-color: #d1a4ff;
    }

    .heading-nav {
        @apply uppercase text-[#361566] mt-7 text-center text-4xl md:text-5xl lg:text-6xl xl:text-7xl font-helvetica-compressed;
        leading-trim: both;
        text-edge: cap;
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #d1a4ff;
    }

    .hero-card {
        /* border-top: 1px solid #361566; */
        /* border-bottom: 1px solid #361566; */
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(244, 176, 233, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    }

    .gradient-border {
        content: '';
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, #6C2ACC, transparent);
    }
}
